<!DOCTYPE html>
<html lang="en">
<head>
    <include file="common/header" title="我的-账户设置"/>
    <link href="../../css/less/main/main.css" rel="stylesheet">
    <link href="../../css/less/personal/des-personal-main.css" rel="stylesheet">
    <link href="../../css/less/personal/des-personal-account-set.css" rel="stylesheet">
</head>
<body>
<include file="common/header-login"/>

<div class="container-fluid">
    <include file="common/header-my-head"/>
    <div class="row">
        <div class="container-fluid main-container">
            <include file="common/side-my-left"/>
            <div class="col-md-8 col-xs-12">
                <div class="panel main">
                    <div class="panel-heading">
                        <div>
                            修改密码
                        </div>
                    </div>
                    <div class="panel-body list-group">
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-xs-2">
                                    <h5 class="clear-mar-ud">原密码</h5>
                                </div>
                                <div class="col-xs-9">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-xs-2">
                                    <h5 class="clear-mar-ud">新密码</h5>
                                </div>
                                <div class="col-xs-9">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-xs-2">
                                    <h5 class="clear-mar-ud">再次输入</h5>
                                </div>
                                <div class="col-xs-9">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-block center-block">确认修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<include file="common/modal-my-detail"/>
<include file="common/footer"/>
</body>
</html>