<!DOCTYPE html>
<html lang="en">
<head>
    <include file="common/header" title="我的-被接受的"/>
    <link href="__PUBLIC__/css/less/main/main.css" rel="stylesheet">
    <link href="__PUBLIC__/css/less/personal/des-personal-main.css" rel="stylesheet">
    <link href="__PUBLIC__/css/less/personal/des-personal-accepted.css" rel="stylesheet">
</head>
<body>
<include file="common/header-login"/>

<div class="container-fluid">
    <include file="common/header-my-head"/>
    <div class="row">
        <div class="container-fluid main-container">
            <include file="common/side-my-left"/>
            <div class="col-md-8 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <foreach name="buys" item="buy">
                            <div class="panel panel-default main">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-2 clear-pad-right">
                                            <img src="<{$buy[pic_url][0]}>" class="img-responsive img-1">
                                        </div>
                                        <div class="col-md-8">
                                            <div><{$buy[title]}></div>
                                            <div class="price">￥<{$buy[price]}></div>
                                        </div>
                                        <div class="col-md-2 right">
                                            <div class="row">
                                                <div class="title">卖家</div>
                                            </div>
                                            <div class="row row-2">
                                                <div class="col-xs-6 clear-pad-left">
                                                    <img src="<{$buy[avatar_url]}>" class="img-responsive img-circle">
                                                </div>
                                                <div class="col-xs-6 clear-pad">
                                                    <{$buy[username]}>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="row clear-mar-lr">
                                        <label class="num"><{$buy[time]}></label>
                                        <label class="icon-sm num">删除</label>
                                        <label class="icon-sm save"></label>
                                        <label class="icon-sm num">查看评价</label>
                                        <label class="icon-sm msg"></label>
                                    </div>
                                </div>
                            </div>
                        </foreach>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<include file="common/modal-my-detail"/>
<include file="common/footer"/>
</body>
</html>