<!DOCTYPE html>
<html lang="en">
<head>
    <include file="common/header" title="我的-关于我们"/>
    <link href="../../css/less/main/main.css" rel="stylesheet">
    <link href="../../css/less/personal/des-personal-main.css" rel="stylesheet">
    <link href="../../css/less/personal/des-personal-account-set.css" rel="stylesheet">
</head>
<body>

<include file="common/header-login"/>

<div class="container-fluid">
    <include file="common/header-my-head"/>
    <div class="row">
        <div class="container-fluid main-container">
            <include file="common/side-my-left"/>
            <div class="col-md-8 col-xs-12">
                <div class="panel main">
                    <div class="panel-heading">
                        <div>
                            关于我们
                        </div>
                    </div>
                    <div class="panel-body" style="height: 400px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<include file="common/modal-my-detail"/>
<include file="common/footer"/>
</body>
</html>