<!DOCTYPE html>
<html lang="en">
<head>
    <include file="common/header" title="我的-评价详情"/>
    <link href="../../css/less/main/main.css" rel="stylesheet">
    <link href="../../css/less/personal/des-personal-main.css" rel="stylesheet">
    <link href="../../css/less/personal/des-personal-account.css" rel="stylesheet">
    <link href="../../css/less/personal/des-personal-evaluate.css" rel="stylesheet">
</head>
<body>
<include file="common/header-login"/>

<div class="container-fluid">
    <include file="common/header-my-head"/>
    <div class="row">
        <div class="container-fluid main-container">
            <include file="common/side-my-left"/>
            <div class="col-md-8 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <foreach name="comments" item="comment">
                        <div class="panel panel-default main">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-6 title">
                                        <h4><{$comment[title]}></h4>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="price">￥<{$comment[price]}></div>
                                    </div>
                                    <div class="col-md-2">
                                        来自
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="row">
                                                    <div class="col-xs-5 clear-pad-right">
                                                        <h5>语言表达</h5>
                                                    </div>
                                                    <div class="col-xs-7 clear-pad-left">
                                                        <h5>
                                                        <for start="1" end="<{$comment->language_starts}>">
                                                            <span class="glyphicon glyphicon-star"></span>
                                                        </for>
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="row">
                                                    <div class="col-xs-5 clear-pad-right">
                                                        <h5>耐心</h5>
                                                    </div>
                                                    <div class="col-xs-7 clear-pad-left">
                                                        <h5>
                                                            <for start="1" end="<{$comment->patient_starts}>">
                                                                <span class="glyphicon glyphicon-star"></span>
                                                            </for>
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="row">
                                                    <div class="col-xs-5 clear-pad-right">
                                                        <h5>总体</h5>
                                                    </div>
                                                    <div class="col-xs-7 clear-pad-left">
                                                        <h5>
                                                            <for start="1" end="<{$comment->total_starts}>">
                                                                <span class="glyphicon glyphicon-star"></span>
                                                            </for>
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-md-offset-3 right">
                                        <div class="row row-2">
                                            <div class="col-xs-6 clear-pad-left">
                                                <img src="<{$comment[avatar_url]}>" class="img-responsive img-circle">
                                            </div>
                                            <div class="col-xs-6 clear-pad">
                                                <{$comment[username]}>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row clear-mar-lr">
                                    <label class="num"><{$comment[time]}></label>
                                </div>
                            </div>
                        </div>
                        </foreach>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<include file="common/modal-my-detail"/>
<include file="common/footer"/>
</body>
</html>