<head>
    <include file="common/header" title="我的-账户设置"/>
    <link href="../../css/less/personal/personal-set.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid clear-pad">
        <div class="col-xs-1">

        </div>
        <div class="col-xs-10">
            <div class="title"> 账号设置 </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 list-group">
            <a href="#" class="list-group-item">修改密码<span class="badge"> > </span></a>
        </div>
    </div>
</div>

<include file="common/footer"/>
</body>