<head>
    <include file="common/header" title="我的-我的账户"/>
    <link href="../../css/less/personal/personal-account.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid clear-pad">
        <div class="col-xs-1">

        </div>
        <div class="col-xs-10">
            <div class="title"> 我的账户 </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="panel outer">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="<$avatar_url>" class="img-responsive avatar img-circle">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="name"><{$username}></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <h5>总收入: ￥<{$income}></h5>
                        <h5>总支出: ￥<{$outcome}></h5>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-1 clear-pad-right">

                    </div>
                    <div class="col-xs-11 clear-pad-left">
                        <foreach name = "records" itme = "record">
                            <div class="panel">
                                <div class="panel-heading clear-pad">
                                    <{$record->time}>
                                </div>
                                <div class="panel-body clear-pad">
                                    <if condition="<{$record->type}> eq '接单'">
                                        <h4>接单: <{$record->title}></h4>
                                    <else/>
                                        <h4>悬赏: <{$record->title}></h4>
                                    </if>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-xs-8">
                                            from <{$record->username}>
                                        </div>
                                        <div class="col-xs-4">
                                            <if condition="<{$record->type}> eq '接单'">
                                                收入: ￥<{$record->money}>
                                                <else/>
                                                支出: ￥<{$record->money}>
                                            </if>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </foreach>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<include file="common/footer"/>
</body>