<head>
    <include file="common/header" title="我的-评价详情"/>
    <link href="../../css/less/personal/personal-evaluate.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid clear-pad">
        <div class="col-xs-1">

        </div>
        <div class="col-xs-10">
            <div class="title"> 评价详情 </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <foreach name = "comments" item = "comment">
                <div class="panel panel-default main-card">
                    <div class="panel-heading">
                        <div class="row clear-mar-lr">
                            <div class="col-xs-2 clear-pad mobile">
                                <img src="<{$comment->avatar_url}>" class="img-responsive img-circle">
                            </div>
                            <div class="col-md-12 col-xs-8 clear-pad">
                                <h5><{$comment->username}> for me</h5>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-10">
                                <h4><{$comment->title}></h4>
                            </div>
                            <div class="col-xs-2 clear-pad-left">
                                <h5 class="price">￥<{$comment->price}></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-5 clear-pad-right">
                                        <h5>语言表达</h5>
                                    </div>
                                    <div class="col-xs-7 clear-pad-left">
                                        <h5>
                                            <!--<for start="1" end="<{$comment['language_starts']}>">-->
                                            <!--<span class="glyphicon glyphicon-star"></span>-->
                                            <!--</for>-->
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-5 clear-pad-right">
                                        <h5>耐心</h5>
                                    </div>
                                    <div class="col-xs-7 clear-pad-left">
                                        <h5>
                                            <!--<for start="1" end="<{$comment['patient_starts']}>">-->
                                                <!--<span class="glyphicon glyphicon-star"></span>-->
                                            <!--</for>-->
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-5 clear-pad-right">
                                        <h5>总体</h5>
                                    </div>
                                    <div class="col-xs-7 clear-pad-left">
                                        <h5>
                                            <!--<for start="1" end="<{$comment['total_starts']}>">-->
                                                <!--<span class="glyphicon glyphicon-star"></span>-->
                                            <!--</for>-->
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row clear-mar-lr">
                            <label class="num"><{$comment['time']}></label>
                        </div>
                    </div>
                </div>
            </foreach>
        </div>
    </div>
</div>


<nav class="navbar navbar-fixed-bottom mobile">
    <div class="container-fluid clear-pad nav-bottom">
        <a class="btn col-xs-6" type="text">我是老师</a>
        <a class="btn col-xs-6" type="text">我是学生</a>
    </div>
</nav>

<include file="common/footer"/>
</body>