<head>
    <include file="common/header" title="我的-主页"/>
    <link href="__PUBLIC__/css/less/personal/personal-main.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row head">
            <div class="container-fluid">
                <div class="row head-1">
                    <div class="col-xs-12">
                        <img src="__PUBLIC__/img/icon-home.png" class="img-responsive">
                    </div>
                </div>
                <div class="row head-2">
                    <div class="col-xs-4 col-xs-offset-4">
                        <img src="<{$avatar_url}>" class="img-responsive img-circle img-square">
                    </div>
                </div>
                <div class="row head-3">
                    <div class="col-xs-4 col-xs-offset-4">
                       <a href="#">详情 >></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row body">
            <div class="col-xs-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="col-xs-6">
                            买家好评:  <{$comment_buyer}>%
                        </div>
                        <div class="col-xs-6">
                            卖家好评:  <{$comment_seller}>%
                        </div>
                    </div>
                    <div class="panel-body list-group">
                        <a href="<{:U('myCommodity/publishSkill')}>" class="list-group-item">我发布的<span class="badge"> >> </span></a>
                        <a href="<{:U('transaction/transactionAcceptedSkill')}>" class="list-group-item">被接受的</a>
                        <a href="<{:U('star/myStarSkill')}>" class="list-group-item">我的收藏</a>
                        <a href="<{:U('evaluation/myEvaluatedSkill')}>" class="list-group-item">评价详情</a>
                        <a href="<{:U('budget/income')}>" class="list-group-item">我的账户</a>
                        <a href="<{:U('mySetting/accountSetPage')}>" class="list-group-item">设置</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="common/footer"/>
</body>