<head>
    <include file="common/header" title="我的-修改密码"/>
    <link href="../../css/less/personal/personal-password.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid clear-pad">
        <div class="col-xs-1">

        </div>
        <div class="col-xs-10">
            <div class="title"> 修改密码 </div>
        </div>
    </div>
</nav>

<div class="container-fluid main">
    <div class="row">
        <form class="col-xs-12 form-horizontal">
            <div class="form-group">
                <input name="old_password" class="form-control" placeholder="原密码">
            </div>
            <div class="form-group">
                <input name="new_password" class="form-control" placeholder="新密码">
            </div>
            <div class="form-group">
                <input name="again" class="form-control" placeholder="确认密码">
            </div>
        </form>
    </div>
</div>

<div class="container-fluid">
    <button class="btn btn-block publish_btn">确认</button>
</div>
<include file="common/footer"/>
</body>