<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/boots/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/less/personal/personal-info.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row head">
        <div class="container-fluid">
            <div class="row head-1">
                <div class="col-xs-12">
                    <img src="../../img/icon-home.png" class="img-responsive">
                </div>
            </div>
            <div class="row head-2">
                <div class="col-xs-4 col-xs-offset-4">
                    <img src="../../img/test2.jpg" class="img-responsive img-circle img-square">
                </div>
            </div>
            <div class="row head-3">
                <div class="col-xs-4 col-xs-offset-4">
                    <div>Top_CR</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row body">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row clear-mar-lr">
                        <div class="col-xs-6">
                            <h5>买家好评:  98%</h5>
                        </div>
                        <div class="col-xs-6">
                            <h5>卖家好评:  94%</h5>
                        </div>
                    </div>
                </div>
                <div class="panel-body list-group">
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-3">
                                <h5 class="clear-mar-ud">昵称</h5>
                            </div>
                            <div class="col-xs-9">
                                <h5 class="clear-mar-ud">Top_CR</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-3">
                                <h5 class="clear-mar-ud">姓名</h5>
                            </div>
                            <div class="col-xs-9">
                                <h5 class="clear-mar-ud">陈睿</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-3">
                                <h5 class="clear-mar-ud">性别</h5>
                            </div>
                            <div class="col-xs-9">
                                <h5 class="clear-mar-ud">男</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-3">
                                <h5 class="clear-mar-ud">手机</h5>
                            </div>
                            <div class="col-xs-9">
                                <h5 class="clear-mar-ud">12939281922</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-3">
                                <h5 class="clear-mar-ud">邮箱</h5>
                            </div>
                            <div class="col-xs-9">
                                <h5 class="clear-mar-ud">293729109@qq.com</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-3">
                                <h5 class="clear-mar-ud">生日</h5>
                            </div>
                            <div class="col-xs-9">
                                <h5 class="clear-mar-ud">3.10</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-3">
                                <h5 class="clear-mar-ud">擅长</h5>
                            </div>
                            <div class="col-xs-9">
                                <h5 class="clear-mar-ud">小提琴</h5>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-3">
                                <h5 class="clear-mar-ud">爱好</h5>
                            </div>
                            <div class="col-xs-9">
                                <h5 class="clear-mar-ud">打篮球</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../js/jquery.js"></script>
<script src="../../js/bootstrap.min.js"></script>
</body>