<head>
    <include file="common/header" title="我的-我的收藏"/>
    <link href="__PUBLIC__/css/less/personal/personal-star.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid clear-pad">
        <div class="col-xs-1">

        </div>
        <div class="col-xs-10">
            <div class="title"> 我收藏的 </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <foreach name="stars" item="star">
                <div class="panel panel-default main-card">
                    <div class="panel-heading">
                        <div class="row clear-mar-lr">
                            <div class="col-xs-2 clear-pad mobile">
                                <img src="__PUBLIC__/picture/<{$star['avatar_url']}>" class="img-responsive img-circle">
                            </div>
                            <div class="col-md-12 col-xs-8 clear-pad">
                                <h5><{$star['title']}></h5>
                                <h5 class="price desktop">￥<{$star['price']}></h5>
                            </div>
                            <div class="col-xs-2 clear-pad mobile">
                                <h5 class="price">￥<{$star['price']}></h5>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row clear-mar-lr">
                            <{$star['description']}>
                        </div>
                        <div class="row main-imgs">
                            <foreach name="star['images']" item="image">
                                <div class="col-xs-4">
                                    <img src="__PUBLIC__/picture/<{$image}>" class="img-responsive img-square img-full mobile">
                                </div>
                            </foreach>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row clear-mar-lr">
                            <img src="__PUBLIC__/img/test2.jpg" class="img-responsive img-circle desktop">
                            <label class="num"><{$star['username']}></label>
                            <label class="num">(<{$star['publish_time']}>天前)</label>
                            <if condition="$star['save_num'] gt 99">
                                <label class="icon-sm num">99+</label>
                            <else/>
                                <label class="icon-sm num"><{$star['save_num']}></label>
                            </if>
                            <label class="icon-sm save"></label>
                            <if condition="$star['msg_num'] gt 99">
                                <label class="icon-sm num">99+</label>
                                <else/>
                                <label class="icon-sm num"><{$star['msg_num']}></label>
                            </if>
                            <label class="icon-sm msg"></label>
                        </div>
                    </div>
                </div>
            </foreach>
        </div>
    </div>
</div>


<nav class="navbar navbar-fixed-bottom mobile">
    <div class="container-fluid clear-pad nav-bottom">
        <a class="btn col-xs-6" type="text">技能</a>
        <a class="btn col-xs-6" type="text">悬赏</a>
    </div>
</nav>

<include file="common/footer"/>
</body>