body {
  font-family: "Microsoft YaHei";
}
.img-full {
  width: 100%;
  height: auto;
}
.clear-pad-ud {
  padding-top: 0;
  padding-bottom: 0;
}
.clear-pad-left {
  padding-left: 0;
}
.clear-pad-right {
  padding-right: 0;
}
.clear-pad {
  padding: 0;
}
.clear-mar-lr {
  margin-left: 0;
  margin-right: 0;
}
.clear-mar-ud {
  margin-top: 0;
  margin-bottom: 0;
}
.price {
  color: red;
}
@media (max-width: 768px) {
  .desktop {
    display: none;
  }
}
.mobile {
  display: none;
}
@media (max-width: 768px) {
  .mobile {
    display: block;
  }
}
.main-card {
  border: 1px solid #cccccc;
  border-radius: 0;
  margin-bottom: 7px;
}
.main-card .panel-heading {
  padding: 0;
  height: 45px;
}
.main-card .panel-heading h5 {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .main-card .panel-heading h5 {
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .main-card .panel-heading img {
    margin-top: 5px;
    margin-left: 10px;
    width: 35px;
    height: 35px;
  }
}
.main-card .panel-body {
  padding: 0;
  height: 55px;
}
@media (max-width: 768px) {
  .main-card .panel-body {
    padding-top: 4px;
    padding-bottom: 4px;
    height: auto;
  }
  .main-card .panel-body .main-imgs {
    margin-left: 0;
    margin-right: 0;
    margin-top: 3px;
  }
  .main-card .panel-body .main-imgs > .col-xs-4 {
    padding-left: 0;
    padding-right: 0;
  }
}
.main-card .panel-footer {
  padding: 0;
  height: 36px;
}
.main-card .panel-footer img {
  float: left;
  margin-top: 3px;
  margin-right: 4px;
  width: 30px;
  height: 30px;
}
.main-card .panel-footer .icon-sm {
  float: right;
  margin-top: 11px;
  margin-right: 4px;
  margin-left: 7px;
  width: 16px;
  height: 13px;
  background-size: cover;
}
.main-card .panel-footer .num {
  margin-top: 8px;
  margin-right: 3px;
  margin-left: 3px;
  width: auto;
  font-weight: 200;
  color: #cccccc;
}
.main-card .panel-footer .save {
  background-image: url("../../../img/icon-save.png");
}
.main-card .panel-footer .msg {
  background-image: url("../../../img/icon-msg.png");
}
.main-card .panel-footer .edit {
  background-image: url("../../../img/icon-edit.png");
}
.main-card .panel-footer .eye {
  background-image: url("../../../img/icon-eye.png");
}
.main-card .panel-footer .remove {
  background-image: url("../../../img/icon-delete.png");
}
.main-card .panel-heading,
.main-card .panel-footer {
  background-color: transparent;
  border: none;
}
@media (max-width: 768px) {
  .main-card .panel-body,
  .main-card .panel-footer {
    padding-left: 5px;
    padding-right: 5px;
  }
  .main-card .panel-body,
  .main-card .panel-footer {
    border-top: 1px solid #cccccc;
    border-radius: 0;
  }
}
@media (max-width: 768px) {
  .navbar-fixed-top {
    background-color: #6fdbed;
    height: 40px;
    min-height: 40px;
  }
  .navbar-fixed-top .title {
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
}
.navbar-fixed-bottom {
  background-color: #6fdbed;
  height: 40px;
  min-height: 40px;
}
.navbar-fixed-bottom .nav-bottom > .btn {
  height: 40px;
  line-height: 40px;
  padding: 0;
}
.publish_btn {
  background-color: red;
  color: white;
}
.plat-btn {
  background-color: #fecb45;
  color: white;
  border-width: 0;
  border-radius: 0;
}
@media (max-width: 768px) {
  .main-container {
    padding-bottom: 50px;
  }
}
.home-back {
  margin-top: 7px;
}
.navbar .title {
  color: white;
}
#left-dropdown .panel {
  padding-left: 0;
}
#left-dropdown .panel > .panel-heading {
  background-color: #666666;
  margin: 0;
  padding: 10px;
}
#left-dropdown .panel > .panel-heading .nav-title {
  color: white;
}
#left-dropdown .panel .panel-body {
  background-color: #333333;
  padding-bottom: 0;
}
#left-dropdown .panel .panel-body button {
  border-width: 0;
  background-color: transparent;
  border-radius: 0;
  color: white;
}
#left-dropdown .panel .panel-body .btn-active {
  color: #fecb45;
}
.search-container {
  padding-top: 25px;
}
.search-container img {
  width: 92px;
  height: 92px;
}
.search-container .name {
  margin-top: 10px;
  display: block;
  color: white;
}
.search-container .evaluate {
  text-align: left;
  color: white;
  margin-top: 100px;
}
#info-modal {
  @import "../../boots/bootstrap.min.css";
}
#info-modal body {
  padding-top: 50px;
}
@media (max-width: 768px) {
  #info-modal body {
    background-color: #dafffb;
    padding-top: 93px;
    padding-bottom: 40px;
  }
}
#info-modal .navbar-fixed-top {
  border: 0;
}
#info-modal .navbar-fixed-top-2 {
  margin-top: 49px;
}
#info-modal .nav-top {
  background-color: #fecb45;
}
#info-modal .nav-top .navbar-brand {
  padding: 0;
  padding-top: 3px;
  padding-left: 10px;
}
#info-modal .nav-top .navbar-nav > .active > a,
#info-modal .nav-top .navbar-nav > .active > a:hover {
  background-color: #cb983d;
}
#info-modal .nav-top .navbar-nav > li > a,
#info-modal .nav-top .navbar-nav > .active > a {
  width: 100px;
  text-align: center;
  color: white;
  font-size: 20px;
}
#info-modal .nav-top .navbar-right > li > a {
  width: 70px;
  color: white;
  font-size: 17px;
}
#info-modal .mobile-nav-top-1 {
  background-color: #6fdbed;
  height: 50px;
}
#info-modal .mobile-nav-top-1 .col-xs-8 > input {
  margin-top: 5px;
  border: none;
  border-radius: 1em;
}
#info-modal .mobile-nav-top-1 .mobile-top-1-btn {
  background-color: transparent;
  border: none;
  height: 40px;
  height: 50px;
}
#info-modal .mobile-nav-top-2 {
  background-color: #98edfa;
  height: 40px;
  min-height: 40px;
}
#info-modal .mobile-nav-top-2 .select {
  background-color: transparent;
  border: none;
  height: 40px;
}
#info-modal .search-container {
  height: 175px;
  background-image: url("../../../img/test5.jpg");
  background-size: 100% 100%;
  padding-top: 20px;
}
#info-modal .search-container .row {
  text-align: center;
}
#info-modal .search-container .row h3 {
  color: white;
  font-weight: 100;
  font-size: 30px;
}
#info-modal .search-container .row .search-form {
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 5px;
}
#info-modal .search-container .row .search-form .form-control {
  height: 40px;
  border-width: 0;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#info-modal .search-container .row .search-form .btn {
  height: 40px;
  width: 70px;
  background-color: orange;
  color: white;
  font-size: 20px;
  border-width: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#info-modal .side {
  margin-top: 10px;
  padding-left: 0;
}
#info-modal .side .panel {
  border-left-width: 5px;
  border-radius: 0;
  background-color: #3c3c3c;
  padding-left: 3px;
  margin-bottom: 1px;
}
#info-modal .side .panel .panel-heading {
  padding: 0;
  color: white;
  background-color: transparent;
  margin-top: 10px;
}
#info-modal .side .panel .panel-body {
  padding: 0;
  padding-bottom: 15px;
}
#info-modal .side .panel .panel-body .label {
  border: 1px solid white;
  display: inline-block;
  margin-top: 5px;
}
#info-modal .side-right {
  margin-top: 10px;
  padding-left: 0;
}
#info-modal .side-right .panel {
  border-left-width: 5px;
  border-radius: 0;
  background-color: #3c3c3c;
  padding-left: 3px;
  margin-bottom: 1px;
}
#info-modal .side-right .panel .panel-heading {
  padding: 0;
  color: white;
  background-color: transparent;
  margin-top: 10px;
}
#info-modal .side-right .panel .panel-body {
  padding: 0;
  padding-bottom: 15px;
}
#info-modal .side-right .panel .panel-body .label {
  border: 1px solid white;
  display: inline-block;
  margin-top: 5px;
}
#info-modal .side-right .panel-1 {
  background-color: white;
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
}
#info-modal .side-right .panel-1 .panel-body {
  text-align: center;
  padding-bottom: 0;
}
#info-modal .side-right .panel-1 .panel-body button {
  border-width: 0;
}
#info-modal .side-right .panel-1 .panel-body button h4 img {
  height: 15px;
  width: 15px;
}
#info-modal .side-right .panel-1 .panel-body button p {
  color: #cccccc;
}
#info-modal .side-right .panel-2 {
  margin-top: 10px;
  background-color: white;
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
}
#info-modal .side-right .panel-2 .panel-body {
  text-align: center;
  padding-bottom: 0;
}
#info-modal .side-right .panel-2 .panel-body button {
  border-width: 0;
}
#info-modal .side-right .panel-2 .panel-body button h4 img {
  height: 15px;
  width: 15px;
}
#info-modal .side-right .panel-2 .panel-body button p {
  color: #cccccc;
}
#info-modal .side-right .panel-2 .panel-heading h3 {
  color: orange;
}
#info-modal .side-right .panel-2 .panel-body .row {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}
#info-modal .side-right .panel-2 .panel-body .row h6 {
  margin-top: 3px;
  margin-bottom: 0;
}
#info-modal .side-right .panel-2 .panel-body .row .col-md-6 {
  padding-left: 5px;
}
#info-modal .side-right .panel-2 .panel-body .row img {
  height: 35px;
  width: 35px;
}
#info-modal .main-container {
  width: 100%;
  max-width: 1024px;
}
@media (max-width: 768px) {
  #info-modal .main-container {
    padding-left: 5px;
    padding-right: 5px;
  }
}
#info-modal .main-row {
  margin-top: 10px;
}
@media (max-width: 768px) {
  #info-modal .main-row {
    margin-top: 0;
  }
}
#info-modal .main-row .main-card {
  width: 512px;
  float: left;
}
@media (max-width: 768px) {
  #info-modal .main-row .main-card {
    width: 100%;
  }
}
#info-modal .main-row .main-img {
  float: left;
  height: 136px;
  width: 136px;
  margin-right: 10px;
}
#info-modal .nav-bottom {
  margin-bottom: -50px;
}
#info-modal .pub-container {
  z-index: 2;
}
#info-modal .pub-container #publish {
  margin: 0 auto;
  width: 56px;
  height: 56px;
}
#info-modal #publish-desk .modal-content {
  width: 656px;
  border-radius: 0;
}
#info-modal #publish-desk .modal-content > .modal-header {
  padding-top: 10px;
  background-color: #fecb45;
  color: white;
  height: 40px;
}
#info-modal #publish-desk .modal-content > .modal-header > .close {
  font-size: 35px;
  font-weight: 100;
  color: white;
  opacity: 1;
  margin-top: -10px;
}
#info-modal #publish-desk .publish_btn_des {
  width: 348px;
  height: 38px;
  background-color: #fecb45;
  color: white;
  border-width: 0;
  border-radius: 0;
}
#info-modal #detail-desk .modal-content {
  width: 656px;
  border-radius: 0;
}
#info-modal #detail-desk .modal-content > .modal-header {
  padding-top: 10px;
  background-color: #fecb45;
  color: white;
  height: 40px;
}
#info-modal #detail-desk .modal-content > .modal-header > .close {
  font-size: 35px;
  font-weight: 100;
  color: white;
  opacity: 1;
  margin-top: -10px;
}
#info-modal #detail-desk .publish_btn_des {
  width: 348px;
  height: 38px;
  background-color: #fecb45;
  color: white;
  border-width: 0;
  border-radius: 0;
}
#info-modal #detail-desk .modal-content > .modal-body .detail-img {
  height: 208px;
}
#info-modal #detail-desk .modal-content > .modal-body .msg-img {
  height: 48px;
}
#info-modal #detail-desk .modal-content > .modal-body .body-right {
  padding: 0;
  height: 36px;
  background-color: transparent;
  border: none;
  padding-left: 10px;
}
#info-modal #detail-desk .modal-content > .modal-body .body-right img {
  float: left;
  margin-top: 3px;
  margin-right: 4px;
  width: 30px;
  height: 30px;
}
#info-modal #detail-desk .modal-content > .modal-body .body-right .icon-sm {
  float: right;
  margin-top: 11px;
  margin-right: 4px;
  margin-left: 7px;
  width: 16px;
  height: 13px;
  background-size: cover;
}
#info-modal #detail-desk .modal-content > .modal-body .body-right .num {
  margin-top: 8px;
  margin-right: 3px;
  margin-left: 3px;
  width: auto;
  font-weight: 200;
  color: #cccccc;
}
#info-modal #detail-desk .modal-content > .modal-body .body-right .save {
  background-image: url("../../../img/icon-save.png");
}
#info-modal #detail-desk .modal-content > .modal-body .body-right .msg {
  background-image: url("../../../img/icon-msg.png");
}
#info-modal #detail-desk .modal-content > .modal-body .body-right .edit {
  background-image: url("../../../img/icon-edit.png");
}
#info-modal #detail-desk .modal-content > .modal-body .body-right .eye {
  background-image: url("../../../img/icon-eye.png");
}
#info-modal #detail-desk .modal-content > .modal-body .body-right .remove {
  background-image: url("../../../img/icon-delete.png");
}
#info-modal #detail-desk .modal-content > .modal-body .body-right .content {
  height: 100px;
}
#info-modal #detail-desk .modal-content > .modal-body .mesg {
  background-color: #fecb45;
  color: white;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  float: right;
  margin-top: -5px;
  width: 45px;
  height: 30px;
}
#info-modal #detail-desk .modal-content .msg-title {
  margin-top: 5px;
  margin-left: 5px;
}
#info-modal #detail-desk .modal-content > .modal-footer button {
  width: 110px;
  height: 40px;
  float: right;
  background-color: #fecb45;
  color: white;
  border-width: 0;
  border-radius: 0;
  margin-left: 10px;
}
#info-modal #buy-desk .modal-content {
  width: 656px;
  border-radius: 0;
}
#info-modal #buy-desk .modal-content > .modal-header {
  padding-top: 10px;
  background-color: #fecb45;
  color: white;
  height: 40px;
}
#info-modal #buy-desk .modal-content > .modal-header > .close {
  font-size: 35px;
  font-weight: 100;
  color: white;
  opacity: 1;
  margin-top: -10px;
}
#info-modal #buy-desk .publish_btn_des {
  width: 348px;
  height: 38px;
  background-color: #fecb45;
  color: white;
  border-width: 0;
  border-radius: 0;
}
#info-modal #buy-desk .modal-content > .modal-body .detail-img {
  height: 208px;
}
#info-modal #buy-desk .modal-content > .modal-body .msg-img {
  height: 48px;
}
#info-modal #buy-desk .modal-content > .modal-body .body-right {
  padding: 0;
  height: 36px;
  background-color: transparent;
  border: none;
  padding-left: 10px;
}
#info-modal #buy-desk .modal-content > .modal-body .body-right img {
  float: left;
  margin-top: 3px;
  margin-right: 4px;
  width: 30px;
  height: 30px;
}
#info-modal #buy-desk .modal-content > .modal-body .body-right .icon-sm {
  float: right;
  margin-top: 11px;
  margin-right: 4px;
  margin-left: 7px;
  width: 16px;
  height: 13px;
  background-size: cover;
}
#info-modal #buy-desk .modal-content > .modal-body .body-right .num {
  margin-top: 8px;
  margin-right: 3px;
  margin-left: 3px;
  width: auto;
  font-weight: 200;
  color: #cccccc;
}
#info-modal #buy-desk .modal-content > .modal-body .body-right .save {
  background-image: url("../../../img/icon-save.png");
}
#info-modal #buy-desk .modal-content > .modal-body .body-right .msg {
  background-image: url("../../../img/icon-msg.png");
}
#info-modal #buy-desk .modal-content > .modal-body .body-right .edit {
  background-image: url("../../../img/icon-edit.png");
}
#info-modal #buy-desk .modal-content > .modal-body .body-right .eye {
  background-image: url("../../../img/icon-eye.png");
}
#info-modal #buy-desk .modal-content > .modal-body .body-right .remove {
  background-image: url("../../../img/icon-delete.png");
}
#info-modal #buy-desk .modal-content > .modal-body .body-right .content {
  height: 100px;
}
#info-modal #buy-desk .modal-content > .modal-body .mesg {
  background-color: #fecb45;
  color: white;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  float: right;
  margin-top: -5px;
  width: 45px;
  height: 30px;
}
#info-modal #buy-desk .modal-content .msg-title {
  margin-top: 5px;
  margin-left: 5px;
}
#info-modal #buy-desk .modal-content > .modal-footer button {
  width: 110px;
  height: 40px;
  float: right;
  background-color: #fecb45;
  color: white;
  border-width: 0;
  border-radius: 0;
  margin-left: 10px;
}
#info-modal #buy-desk .modal-body .avatar {
  height: 37px;
  margin-bottom: 5px;
}
#info-modal #buy-desk .modal-body .depict {
  height: 178px;
}
#info-modal #msg-desk .modal-content {
  width: 656px;
  border-radius: 0;
}
#info-modal #msg-desk .modal-content > .modal-header {
  padding-top: 10px;
  background-color: #fecb45;
  color: white;
  height: 40px;
}
#info-modal #msg-desk .modal-content > .modal-header > .close {
  font-size: 35px;
  font-weight: 100;
  color: white;
  opacity: 1;
  margin-top: -10px;
}
#info-modal #msg-desk .publish_btn_des {
  width: 348px;
  height: 38px;
  background-color: #fecb45;
  color: white;
  border-width: 0;
  border-radius: 0;
}
#info-modal #msg-desk .modal-content > .modal-body .detail-img {
  height: 208px;
}
#info-modal #msg-desk .modal-content > .modal-body .msg-img {
  height: 48px;
}
#info-modal #msg-desk .modal-content > .modal-body .body-right {
  padding: 0;
  height: 36px;
  background-color: transparent;
  border: none;
  padding-left: 10px;
}
#info-modal #msg-desk .modal-content > .modal-body .body-right img {
  float: left;
  margin-top: 3px;
  margin-right: 4px;
  width: 30px;
  height: 30px;
}
#info-modal #msg-desk .modal-content > .modal-body .body-right .icon-sm {
  float: right;
  margin-top: 11px;
  margin-right: 4px;
  margin-left: 7px;
  width: 16px;
  height: 13px;
  background-size: cover;
}
#info-modal #msg-desk .modal-content > .modal-body .body-right .num {
  margin-top: 8px;
  margin-right: 3px;
  margin-left: 3px;
  width: auto;
  font-weight: 200;
  color: #cccccc;
}
#info-modal #msg-desk .modal-content > .modal-body .body-right .save {
  background-image: url("../../../img/icon-save.png");
}
#info-modal #msg-desk .modal-content > .modal-body .body-right .msg {
  background-image: url("../../../img/icon-msg.png");
}
#info-modal #msg-desk .modal-content > .modal-body .body-right .edit {
  background-image: url("../../../img/icon-edit.png");
}
#info-modal #msg-desk .modal-content > .modal-body .body-right .eye {
  background-image: url("../../../img/icon-eye.png");
}
#info-modal #msg-desk .modal-content > .modal-body .body-right .remove {
  background-image: url("../../../img/icon-delete.png");
}
#info-modal #msg-desk .modal-content > .modal-body .body-right .content {
  height: 100px;
}
#info-modal #msg-desk .modal-content > .modal-body .mesg {
  background-color: #fecb45;
  color: white;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  float: right;
  margin-top: -5px;
  width: 45px;
  height: 30px;
}
#info-modal #msg-desk .modal-content .msg-title {
  margin-top: 5px;
  margin-left: 5px;
}
#info-modal #msg-desk .modal-content > .modal-footer button {
  width: 110px;
  height: 40px;
  float: right;
  background-color: #fecb45;
  color: white;
  border-width: 0;
  border-radius: 0;
  margin-left: 10px;
}
#info-modal #msg-desk .modal-body .avatar {
  height: 37px;
  margin-bottom: 5px;
}
#info-modal #msg-desk .modal-body .depict {
  height: 178px;
}
#info-modal #msg-desk img {
  height: 39px;
}
#info-modal #msg-desk .name {
  height: 39px;
  line-height: 39px;
}
#info-modal #msg-desk .msg {
  border-radius: 0;
  margin-top: 10px;
  height: 150px;
}
#info-modal .modal-content {
  width: 656px;
  border-radius: 0;
}
#info-modal .modal-content > .modal-header {
  padding-top: 10px;
  background-color: #fecb45;
  color: white;
  height: 40px;
}
#info-modal .modal-content > .modal-header > .close {
  font-size: 35px;
  font-weight: 100;
  color: white;
  opacity: 1;
  margin-top: -10px;
}
#info-modal .publish_btn_des {
  width: 348px;
  height: 38px;
  background-color: #fecb45;
  color: white;
  border-width: 0;
  border-radius: 0;
}
