.img-full {
  width: 100%;
  height: auto;
}
.clear-pad-ud {
  padding-top: 0;
  padding-bottom: 0;
}
.clear-pad-left {
  padding-left: 0;
}
.clear-pad-right {
  padding-right: 0;
}
.clear-pad {
  padding: 0;
}
.clear-mar-lr {
  margin-left: 0;
  margin-right: 0;
}
.clear-mar-ud {
  margin-top: 0;
  margin-bottom: 0;
}
.price {
  color: red;
}
@media (max-width: 768px) {
  .desktop {
    display: none;
  }
}
.mobile {
  display: none;
}
@media (max-width: 768px) {
  .mobile {
    display: block;
  }
}
.main-card {
  border: none;
  margin-bottom: 0;
}
.main-card .panel-heading {
  padding: 0;
  height: 45px;
}
.main-card .panel-heading h5 {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .main-card .panel-heading h5 {
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .main-card .panel-heading img {
    margin-top: 5px;
    margin-left: 10px;
    width: 35px;
    height: 35px;
  }
}
.main-card .panel-body {
  padding: 0;
  height: 55px;
}
@media (max-width: 768px) {
  .main-card .panel-body {
    height: auto;
  }
  .main-card .panel-body .main-imgs {
    margin-left: 0;
    margin-right: 0;
  }
  .main-card .panel-body .main-imgs > .col-xs-4 {
    padding-left: 4px;
    padding-right: 4px;
  }
}
.main-card .panel-footer {
  padding: 0;
  height: 36px;
}
.main-card .panel-footer img {
  float: left;
  margin-top: 3px;
  margin-right: 4px;
  width: 30px;
  height: 30px;
}
.main-card .panel-footer .icon-sm {
  float: right;
  margin-top: 11px;
  margin-right: 2px;
  width: 16px;
  height: 13px;
  background-size: cover;
}
.main-card .panel-footer .num {
  margin-top: 8px;
  margin-right: 3px;
  width: auto;
  font-weight: 200;
  color: #cccccc;
}
.main-card .panel-footer .save {
  background-image: url("../../../img/icon-save.png");
}
.main-card .panel-footer .msg {
  background-image: url("../../../img/icon-msg.png");
}
.main-card .panel-heading,
.main-card .panel-footer {
  background-color: transparent;
  border: none;
}
@media (max-width: 768px) {
  .navbar-fixed-top {
    background-color: #6fdbed;
    height: 40px;
    min-height: 40px;
  }
  .navbar-fixed-top .title {
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
}
.navbar-fixed-bottom {
  background-color: #6fdbed;
  height: 40px;
  min-height: 40px;
}
.navbar-fixed-bottom .nav-bottom > .btn {
  height: 40px;
  line-height: 40px;
  padding: 0;
}
.publish_btn {
  background-color: red;
  color: white;
}
@media (max-width: 768px) {
  html,
  body {
    height: 100%;
  }
  body {
    padding-top: 45px;
  }
  body > .navbar {
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    background-color: #6ADBEF;
  }
  body > .container-fluid {
    height: 100%;
  }
  .form-horizontal > .form-group {
    margin-left: 0;
    margin-right: 0;
  }
  body > .container-fluid > .row {
    height: 100%;
    margin-bottom: -50px;
  }
}
.datepicker {
  margin-top: 0;
}
