@import "../../boots/bootstrap.min.css";
@import "../common";

// nav bar
body{
  padding-top: 50px;
  @media (max-width: @screen-sm-min) {
    background-color: rgb(218, 255, 251);
    padding-top: 93px;
    padding-bottom: 40px;
  }
}

.navbar-fixed-top{
  border: 0;
}
.navbar-fixed-top-2{
  margin-top: 49px;
}

//顶部nav-desktop
.nav-top{
  background-color: rgb(254,203,69);
  .navbar-brand{
    .clear-pad;
    padding-top: 3px;
    padding-left: 10px;
  }
  .navbar-nav>.active>a,.navbar-nav>.active>a:hover{
    background-color: rgb(203,152,61);
  }
  .navbar-nav>li>a,.navbar-nav>.active>a{
    width: 100px;
    text-align: center;
    color: white;
    font-size: 20px;
  }
  .navbar-right>li>a{
    width: 70px;
    color: white;
    font-size: 17px;
  }
}

//顶部nav-mobile
.mobile-nav-top-1{
  background-color: rgb(111,219,237);
  height: 50px;
  .col-xs-8>input{
    margin-top: 5px;
    border: none;
    border-radius: 1em;
  }
  .mobile-top-1-btn{
    .mobile-nav-top-2>.select;
    height: 50px;
  }
}

.mobile-nav-top-2{
  background-color: rgb(152,237,250);
  height: 40px;
  min-height: 40px;
  .select{
    background-color: transparent;
    border: none;
    height: 40px;
  }
}

//搜索-desktop
.search-container{
  height: 175px;
  background-image: url("../../../img/test5.jpg");
  background-size: 100% 100%;
  padding-top: 20px;
  .row{
    text-align: center;
    h3{
      color: white;
      font-weight: 100;
      font-size: 30px;
    }
    .search-form{
      padding-left: 70px;
      padding-right: 70px;
      margin-top: 5px;
      .form-control{
        height: 40px;
        border-width: 0;
        font-size: 20px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      .btn{
        height: 40px;
        width: 70px;
        background-color: @orange;
        color: white;
        font-size: 20px;
        border-width: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}

//边栏-desktop
.side{
  margin-top: 10px;
  .clear-pad-left;

  .panel{
    //border: none;
    border-left-width: 5px;
    border-radius: 0;
    background-color: @dark-gray;
    padding-left: 3px;
    margin-bottom: 1px;
    .panel-heading{
      .clear-pad;
      color: white;
      background-color: transparent;
      margin-top: 10px;
    ;
    }
    .panel-body{
      .clear-pad;
      padding-bottom: 15px;
      .label{
        border: 1px solid white;
        display: inline-block;
        margin-top: 5px;
      }
    }
  }
}

//右侧边栏-desktop
.side-right{
  .side;
  .panel-1{
    background-color: white;
    border-top-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
    .panel-body{
      text-align: center;
      button{
        border-width: 0;
        h4{
          img{
            height: 15px;
            width: 15px;
          }
        }
        p{
          color: @gray;
        }
      }
      padding-bottom: 0;
    }
  }
  .panel-2{
    margin-top: 10px;
    .panel-1;
    .panel-heading{
      h3{
        color: @orange;
      }
    }
    .panel-body{
      .row{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: left;
        h6{
          margin-top: 3px;
          margin-bottom: 0;
        }
        .col-md-6{
          padding-left: 5px;
        }
        img{
          height: 35px;
          width: 35px;
        }
      }
    }
  }
}

//主容器
.main-container{
  width: 100%;
  max-width: 1024px;
  @media (max-width: @screen-sm-min) {
    padding-left: 5px;
    padding-right: 5px;
  }
}

//中间内容
.main-row{
  margin-top: 10px;
  @media (max-width: @screen-sm-min) {
    margin-top: 0;
  }
  .main-card{
    width: 512px;
    float: left;
    @media (max-width: @screen-sm-min) {
      width: 100%;
    }
  }
  .main-img{
    float: left;
    height: 136px;
    width: 136px;
    margin-right: 10px;
  }
}

//中间card

//底部nav-mobile
.nav-bottom{
  margin-bottom: -50px;
}
.pub-container{
  #publish{
    margin: 0 auto;
    width: 56px;
    height: 56px;
  }
}

//modal-publish
#publish-desk{
  .modal-content{
    width: 656px;
    border-radius: 0;
    >.modal-header{
      padding-top: 10px;
      background-color: @orange2;
      color: white;
      height: 40px;
      >.close{
        font-size: 35px;
        font-weight: 100;
        color: white;
        opacity: 1;
        margin-top: -10px;
      }
    }
  }
  .publish_btn_des{
    width: 348px;
    height: 38px;
    .plat-btn;
  }
}

//modal-detail
#detail-desk{
  #publish-desk;
  .modal-content{
    >.modal-body{
      .detail-img{
        height: 208px;
      }
      .msg-img{
        height: 48px;
      }
      .body-right{
        .main-card .panel-footer;
        padding-left: 10px;
        .content{
          height: 100px;
        }
      }
      .mesg{
        .plat-btn;
        padding: 0;
        float: right;
        margin-top: -5px;
        width: 45px;
        height: 30px;
      }
    }
    .msg-title{
      margin-top: 5px;
      margin-left: 5px;
    }
    >.modal-footer{
      button{
        width: 110px;
        height: 40px;
        float: right;
        .plat-btn;
        margin-left: 10px;
      }
    }
  }
}

//modal-buy
#buy-desk{
  #detail-desk;
  .modal-body{
    .avatar{
      height: 37px;
      margin-bottom: 5px;
    }
    .depict{
      height: 178px;
    }
  }
}