
<div class="row">
    <div class="col-md-12 search-container desktop">
        <div class="row">
            <div class="col-md-offset-5 col-md-2">
                <img src="__PUBLIC__/img/test3.jpg" class="img-responsive center-block img-circle">
                <a class="name center-block" data-toggle="modal" data-target="#info-modal">详情>></a>
            </div>
            <div class="col-md-5">
                <div class="evaluate">
                    买家好评&nbsp;:&nbsp;&nbsp;<{$comment_buyer}>&nbsp;%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    卖家好评&nbsp;:&nbsp;&nbsp;<{$comment_seller}>&nbsp;%
                </div>
            </div>
        </div>
    </div>
</div>