
<!--modal personal info-->
<div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="info-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="info-title">
                    个人资料
                </h4>
            </div>
            <div class="modal-body list-group">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <h5 class="clear-mar-ud">昵称</h5>
                        </div>
                        <div class="col-xs-9">
                            <h5 class="clear-mar-ud">Top_CR</h5>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <h5 class="clear-mar-ud">姓名</h5>
                        </div>
                        <div class="col-xs-9">
                            <h5 class="clear-mar-ud">陈睿</h5>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <h5 class="clear-mar-ud">性别</h5>
                        </div>
                        <div class="col-xs-9">
                            <h5 class="clear-mar-ud">男</h5>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <h5 class="clear-mar-ud">手机</h5>
                        </div>
                        <div class="col-xs-9">
                            <h5 class="clear-mar-ud">12939281922</h5>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <h5 class="clear-mar-ud">邮箱</h5>
                        </div>
                        <div class="col-xs-9">
                            <h5 class="clear-mar-ud">293729109@qq.com</h5>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <h5 class="clear-mar-ud">生日</h5>
                        </div>
                        <div class="col-xs-9">
                            <h5 class="clear-mar-ud">3.10</h5>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <h5 class="clear-mar-ud">擅长</h5>
                        </div>
                        <div class="col-xs-9">
                            <h5 class="clear-mar-ud">小提琴</h5>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <h5 class="clear-mar-ud">爱好</h5>
                        </div>
                        <div class="col-xs-9">
                            <h5 class="clear-mar-ud">打篮球</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-block publish_btn_des center-block">确认</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>