<div class="col-md-2 side desktop">
    <div class="panel-group" id="left-dropdown">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="nav-title" data-toggle="collapse" data-parent="#left-dropdown" href="#menuOne">
                    我发布的
                </a>
            </div>
            <div id="menuOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <button class="btn form-control btn-active"><a href="<{:U('myCommodity/publishReward')}>">悬赏</a></button>
                    <button class="btn form-control"><a href="<{:U('myCommodity/publishSkill')}>">技能</a></button>
                </div>
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <a class="nav-title" data-toggle="collapse" data-parent="#left-dropdown" href="#menuTwo">
                    被接受的
                </a>
            </div>
            <div id="menuTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <button class="btn form-control"><a href="<{:U('transaction/transactionAcceptedReward')}>">悬赏</a></button>
                    <button class="btn form-control"><a href="<{:U('transaction/transactionAcceptedSkill')}>">技能</a></button>
                </div>
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <a class="nav-title" data-toggle="collapse" data-parent="#left-dropdown" href="#menuSeven">
                    我买下的
                </a>
            </div>
            <div id="menuSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    <button class="btn form-control"><a href="<{:U('transaction/transactionReward')}>">悬赏</a></button>
                    <button class="btn form-control"><a href="<{:U('transaction/transactionSkill')}>">技能</a></button>
                </div>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <a class="nav-title" data-toggle="collapse" data-parent="#left-dropdown" href="#menuThree">
                    我的收藏
                </a>
            </div>
            <div id="menuThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <button class="btn form-control"><a href="<{:U('star/myStarReward')}>">悬赏</a></button>
                    <button class="btn form-control"><a href="<{:U('star/myStarSkill')}>">技能</a></button>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <a class="nav-title" data-toggle="collapse" data-parent="#left-dropdown" href="#menuFour">
                    评价详情
                </a>
            </div>
            <div id="menuFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <button class="btn form-control"><a href="<{:U('evaluation/myEvaluatedReward')}>">我是学生</a></button>
                    <button class="btn form-control"><a href="<{:U('evaluation/myEvaluatedSkill')}>">我是老师</a></button>
                </div>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <a class="nav-title" data-toggle="collapse" data-parent="#left-dropdown" href="#menuFive">
                    我的账户
                </a>
            </div>
            <div id="menuFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <button class="btn form-control"><a href="<{:U('budget/income')}>">我的账户</a></button>
                </div>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <a class="nav-title" data-toggle="collapse" data-parent="#left-dropdown" href="#menuSix">
                    设置
                </a>
            </div>
            <div id="menuSix" class="panel-collapse collapse">
                <div class="panel-body">
                    <button class="btn form-control">账号设置</button>
                    <button class="btn form-control">更改个人资料</button>
                    <button class="btn form-control">主题设置</button>
                    <button class="btn form-control">关于我们</button>
                </div>
            </div>
        </div>
    </div>
</div>