<head>
    <include file="common/header" title="市场-技能详情"/>
    <link href="__PUBLIC__/css/less/main/main-skill.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid clear-pad">
        <div class="col-xs-1">

        </div>
        <div class="col-xs-10">
            <div class="title"><{$commodity['username']}>的技能 </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default main-skill-panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-2 clear-pad">
                        <img src="__PUBLIC__/picture/<{$commodity['avatar_url']}>" class="img-responsive img-circle">
                    </div>
                    <div class="col-xs-8">
                        <h5><{$title}></h5>
                        <h6><{$username}>(<{$commodity['publish_time']}>天前)</h6>
                    </div>
                    <div class="col-xs-2">
                        <h5 class="price">￥<{$commodity['price']}></h5>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <!--Org是伪指令(不生成对应的二进制指令，只是汇编器使用的)-->
                        <{$commodity['description']}>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <img src="__PUBLIC__/picture/<{$commodity['commodity_url']}>" class="img-responsive img-square img-full">
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-8">
                        <if condition = "$$commodity['save_num'] gt 99">
                            <label class="icon-sm num">99+</label>
                        <else/>
                            <label class="icon-sm num"><{$commodity['save_num']}></label>
                        </if>
                        <label class="icon-sm save"></label>
                        <if condition = "$msg_num gt 99">
                            <label class="icon-sm num">99+</label>
                            <else/>
                            <label class="icon-sm num"><{$commodity['msg_num']}></label>
                        </if>
                        <label class="icon-sm msg"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <foreach name = "msgs" item = "msg">
        <div class="panel main-skill-msg">
            <div class="panel-heading clear-pad-ud">
                <div class="row">
                    <div class="col-xs-2 clear-pad">
                        <img src="__PUBLIC__/picture/<{$msg['avatar_url']}>" class="img-responsive img-circle">
                    </div>
                    <div class="col-xs-8 clear-pad">
                        <h5><{$msg['username']}></h5>
                    </div>
                    <div class="col-xs-2 clear-pad">
                        <h6><{$msg['publish_time']}>天前</h6>
                    </div>
                </div>
            </div>
            <div class="panel-body clear-pad-ud">
                <div class="row">
                    <div class="col-xs-12">
                        <{$msg['content']}>
                    </div>
                </div>
            </div>
        </div>
        </foreach>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom mobile">
    <div class="container-fluid clear-pad nav-bottom">
        <a class="btn col-xs-4" type="text">留言</a>
        <a class="btn col-xs-4" type="text">收藏</a>
        <a class="btn col-xs-4" type="text">我要买</a>
    </div>
</nav>
<include file="common/footer"/>
</body>