<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>市场-主页</title>
    <link href="__PUBLIC__/css/boots/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/less/main/main.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top nav-top desktop">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="__PUBLIC__/img/logo.png" style="height: 45px;">
            </a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">市场</a></li>
                <li><a href="#">悬赏</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">注册</a></li>
                <li><a href="#">登录</a></li>
                <li><a href="#">关于</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>

<nav class="navbar navbar-fixed-top mobile mobile-nav-top-1">
    <div class="container-fluid clear-pad">
        <button class="col-xs-2 mobile-top-1-btn">
            <img src="__PUBLIC__/img/icon-home.png">
        </button>
        <div class="col-xs-8 clear-pad">
            <input class="form-control" type="text">
        </div>
        <button class="col-xs-2 mobile-top-1-btn">
            <img src="__PUBLIC__/img/icon-search.png">
        </button>
    </div>
</nav>

<nav class="navbar mobile navbar-fixed-top navbar-fixed-top-2 mobile-nav-top-2">
    <div class="container-fluid clear-pad">
        <div class="col-xs-8 col-xs-offset-2">
            <button class="col-xs-4 select">
                <img src="__PUBLIC__/img/icon-type.png">
            </button>
            <button class="col-xs-4 select">
                <img src="__PUBLIC__/img/icon-time.png">
            </button>
            <button class="col-xs-4 select">
                <img src="__PUBLIC__/img/icon-price.png">
            </button>
        </div>
        <div class="col-xs-12 clear-pad" id="pad-1" style="min-height:0;background-color: dimgray;height: 0;border: 0">

        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 clear-pad search-container desktop">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h3>
                        我们眼中第二好的技能交流平台
                    </h3>
                </div>
            </div>
            <div class="row">
                <form class="col-md-6 col-md-offset-3 search-form">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">搜索</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid main-container">
            <div class="col-md-2 side desktop">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        价格
                    </div>
                    <div class="panel-body">
                        <span class="label">从低到高</span>
                        <span class="label">从高到低</span>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        时间
                    </div>
                    <div class="panel-body">
                        <span class="label">时间最远</span>
                        <span class="label">时间最近</span>
                        <span class="label">3天内</span>
                        <span class="label">7天内</span>
                        <span class="label">一个月内</span>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        类别
                    </div>
                    <div class="panel-body">
                        <span class="label">理工</span>
                        <span class="label">文史哲</span>
                        <span class="label">计算机</span>
                        <span class="label">绘画</span>
                        <span class="label">体育</span>
                        <span class="label">音乐</span>
                        <span class="label">舞蹈</span>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xs-12">
                <foreach name = "commodities" item = "commodity">
                    <div class="row main-row">
                        <img src="__PUBLIC__/picture/<{$commodity['pic_url'][0]}>" class="main-img img-responsive img-full desktop">
                        <div class="panel panel-default main-card">
                            <div class="panel-heading to-detail">
                                <div class="row clear-mar-lr">
                                    <div class="col-xs-2 clear-pad mobile">
                                        <img src="__PUBLIC__/picture/<{$user_avatar_url}>" class="img-responsive img-circle">
                                    </div>
                                    <div class="col-md-12 col-xs-8 clear-pad">
                                        <h5><{$commodity['title']}></h5>
                                        <h5 class="price desktop">￥<{$commodity['price']}></h5>
                                    </div>
                                    <div class="col-xs-2 clear-pad mobile">
                                        <h5 class="price">￥<{$commodity['price']}></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body to-detail">
                                <div class="row clear-mar-lr">
                                    <{$commodity['description']}>
                                </div>
                                <div class="row main-imgs">
                                    <foreach name = "commodity['images']" item = "image">
                                        <div class="col-xs-4">
                                            <img src="__PUBLIC__/picture/<{$image}>" class="img-responsive img-square img-full mobile">
                                        </div>
                                    </foreach>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row clear-mar-lr">
                                    <img src="__PUBLIC__/picture/<{$commodity['avatar_url']}>" class="img-responsive img-circle desktop">
                                    <label class="num"><{$commodity['username']}></label>
                                    <label class="num">(<{$commodity['publish_time']}>天前)</label>
                                    <if condition="$commodity['save_num'] gt 99">
                                        <label class="icon-sm num">99+</label>
                                    <else/>
                                        <label class="icon-sm num"><{$commodity['save_num']}></label>
                                    </if>
                                    <label class="icon-sm save"></label>
                                    <if condition="$commodity['msg_num'] gt 99">
                                        <label class="icon-sm num">99+</label>
                                        <else/>
                                        <label class="icon-sm num"><{$commodity['msg_num']}></label>
                                    </if>
                                    <label class="icon-sm msg"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </foreach>
            </div>
            <div class="col-md-2 side-right desktop">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-primary panel-1">
                            <div class="panel-body">
                                <button class="btn-block btn btn-default" data-toggle="modal" data-target="#publish-desk">
                                    <h4>
                                        一键发布
                                        <img src="__PUBLIC__/img/icon-publish.png">
                                    </h4>
                                    <p>
                                        快和大家分享技能吧
                                    </p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-primary panel-2">
                            <div class="panel-heading">
                                <h3>
                                    Top 5
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="container-fluid">
                                    <foreach name = "items" item = "item">
                                        <div class="row">
                                            <div class="col-md-3 clear-pad">
                                                <h5>No.<{$item->rank}></h5>
                                            </div>
                                            <div class="col-md-3 clear-pad">
                                                <img src="__PUBLIC__/picture/<{item['avatar_url']}>" class="img-responsive img-circle">
                                            </div>
                                            <div class="col-md-6 clear-pad">
                                                <h6><{$item['title']}></h6>
                                                <h6><{$item['username']}></h6>
                                            </div>
                                        </div>
                                    </foreach>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom mobile">
    <div class="container-fluid clear-pad nav-bottom">
        <a class="btn col-xs-6" type="text">市场</a>
        <a class="btn col-xs-6" type="text">悬赏</a>
    </div>
    <a class="col-xs-12 pub-container"><img id="publish" class="img-circle img-responsive" src="__PUBLIC__/img/icon-publish.png"></a>
</nav>

<!-- 模态框（publish） -->
<div class="modal fade" id="publish-desk" tabindex="-1" role="dialog" aria-labelledby="publish-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="publish-title">
                    <if condition="<{$type}> eq 1">
                        发布悬赏
                    <else/>
                        发布技能
                    </if>
                </h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <form class="form-horizontal col-xs-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="主题">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="简要概述:"></textarea>
                            </div>
                            <div class="form-group">
                                <input id="boots-file" name="files" type="file" class="file form-control" multiple data-show-upload="false" data-show-caption="false">
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon" id="deadline">截止日期</span>
                                    <input class="form-control datepicker" placeholder="请选择" aria-describedby="deadline" data-date-format="yyyy-mm-dd">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <if condition="<{$type}> eq 1">
                                        <span class="input-group-addon" id="pay">赏金</span>
                                        <else/>
                                        <span class="input-group-addon" id="price">价格</span>
                                    </if>
                                    <input class="form-control" placeholder="请填写" aria-describedby="pay">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon" id="phone">联系方式</span>
                                    <input class="form-control" placeholder="请填写" aria-describedby="phone">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" name="publish" class="btn btn-block publish_btn_des center-block" value="确认发布">
                                <!--<button class="btn btn-block publish_btn_des center-block">确认发布</button>-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div>
</div>


<!-- 模态框（detail） -->
<div class="modal fade" id="detail-desk" tabindex="-1" role="dialog" aria-labelledby="detail-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="detail-title">
                    技能详情
                </h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 clear-pad">
                            <img src="__PUBLIC__/picture/<{$commodity['pic_url'][0]}>" class="detail-img img-responsive img-full">
                        </div>
                        <div class="col-md-8 body-right">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="title"><{$commodity['title']}></div>
                                    <div>
                                        <foreach name="commodity[tabs]" item="tab">
                                            <span class="label label-primary"><{$tab}></span>
                                        </foreach>
                                    </div>
                                    <div class="price"> ￥<{$commodity['price']}> </div>
                                    <p class="content"> <{$commodity['description']}></p>
                                    <div class="row clear-mar-lr">
                                        <img src="__PUBLIC__/picture/<{$commodity['avatar_url']}>" class="img-responsive img-circle desktop">
                                        <label class="num"><{$commodity['username']}></label>
                                        <label class="num">(<{$commodity['publish_time']}>天前)</label>

                                        <if condition="$commodity['save_num'] gt 99">
                                            <label class="icon-sm num">99+</label>
                                            <else/>
                                            <label class="icon-sm num"><{$commodity['save_num']}></label>
                                        </if>
                                        <label class="icon-sm save"></label>
                                        <if condition="$commodity['msg_num'] gt 99">
                                            <label class="icon-sm num">99+</label>
                                            <else/>
                                            <label class="icon-sm num"><{$commodity['msg_num']}></label>
                                        </if>
                                        <label class="icon-sm msg"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="list-group col-md-12">
                            <div class="list-group-item">截止日期:&nbsp;&nbsp;&nbsp;&nbsp;<{$commodity['deadline']}></div>
                            <div class="list-group-item">留言
                                <button class="btn btn-default mesg">留言</button>
                            </div>
                            <foreach name="detail_msgs" item = "detail_msg">
                                <div class="list-group-item row clear-mar-lr">
                                    <div class="col-xs-1 clear-pad">
                                        <img src="__PUBLIC__/picture/<{$detail_msg['avatar_url']}>" class="img-responsive img-circle msg-img">
                                    </div>
                                    <div class="col-xs-1 clear-pad msg-title">
                                        <div><{$detail_msg['username']}></div>
                                        <{$detail_msg['publish_time']}>天前
                                    </div>
                                    <div class="col-xs-9" style="line-height: 50px">
                                        <{$detail_msg['content']}>
                                    </div>
                                </div>
                            </foreach>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <if condition="<{$type}> eq 1">
                    <button class="btn" data-toggle="modal" data-target="#buy-desk">我要接单</button>
                <else/>
                    <button class="btn" data-toggle="modal" data-target="#buy-desk">我要买</button>
                </if>
                <button class="btn" >取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>


<!-- 模态框（buy） -->
<div class="modal fade" id="buy-desk" tabindex="-1" role="dialog" aria-labelledby="buy-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="buy-title">
                    <if condition="<{$type}> eq 1">
                        我要接单
                    <else/>
                        我要买
                    </if>
                </h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 main">
                            <div class="row">
                                <div class="col-xs-1 clear-pad-right">
                                    <img src="__PUBLIC__/picture/<{$commodity['avatar_url']}>" class="img-responsive img-circle avatar">
                                </div>
                                <div class="col-xs-10">
                                    <h5><{$commodity['name']}></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <img src="__PUBLIC__/picture/<{$commodity['pic_url'][0]}>" class="img-responsive depict">
                                </div>
                                <div class="col-xs-8 clear-pad">
                                    <h4><{$commodity['title']}></h4>
                                    <p><{$commodity['description']}></p>
                                </div>
                            </div>
                            <div class="row margin-more">
                                <div class="col-xs-4">
                                    <h4>总金额</h4>
                                </div>
                                <div class="col-xs-8">
                                    <h4 class="price"> ￥<{$commodity['price']}> </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <if condition="<{$type}> eq 1">
                                        <h4>接单人</h4>
                                        <else/>
                                        <h4>购买者</h4>
                                    </if>
                                </div>
                                <div class="col-xs-8">
                                    <h4> <{$currentUsername}> </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <h4>联系方式</h4>
                                </div>
                                <div class="col-xs-8">
                                    <h4> <{$currentUserPhone}> </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" >确认</button>
                <button class="btn" >取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/fileinput.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/bootstrap-datepicker.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/market-main.js"></script>
</body>
</html>