<head>
    <include file="common/header" title="市场-我要买"/>
    <link href="../../css/less/main/main-buy.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid clear-pad">
        <div class="col-xs-1">

        </div>
        <div class="col-xs-10">
            <div class="title"> 我要接单 </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 main">
            <div class="row">
                <div class="col-xs-1 clear-pad">
                    <img src="<{$avatar_url}>" class="img-responsive img-circle avatar">
                </div>
                <div class="col-xs-10">
                    <h5><{$seller_name}></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 clear-pad">
                    <img src="<{$commodity_url}>" class="img-responsive depict">
                </div>
                <div class="col-xs-8 clear-pad">
                    <h4><{$title}></h4>
                    <p><{$description}></p>
                </div>
            </div>
            <div class="row margin-more">
                <div class="col-xs-4">
                    <h4>总金额</h4>
                </div>
                <div class="col-xs-8">
                    <h4 class="price"> ￥<{$price}> </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <h4>接单人</h4>
                </div>
                <div class="col-xs-8">
                    <h4> <{$buyer_name}> </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <h4>联系方式</h4>
                </div>
                <div class="col-xs-8">
                    <h4> <{$phone}> </h4>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-block publish_btn">确认</button>
</div>

<include file="common/footer"/>
</body>