<head>
    <include file="common/header" title="市场-发布技能"/>
    <link href="__PUBLIC__/css/boots/datepicker.css" rel="stylesheet">
    <link href="__PUBLIC__/css/boots/fileinput.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/less/main/main-publish.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-fixed-top">
        <a class="col-xs-1" onclick="history.go(-1)">
            <img src="__PUBLIC__/img/back.png" class="home-back">
        </a>
        <div class="col-xs-10">
            <div class="title">
                <if condition="$type eq 1">
                    发布悬赏
                    <else/>
                    发布技能
                </if>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">

            <form class="form-horizontal col-xs-12" action="<{:U('commodity/upload')}>" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input name="title" type="text" class="form-control" placeholder="主题">
                </div>
                <div class="form-group">
                    <textarea name="description" class="form-control" placeholder="简要概述:"></textarea>
                </div>
                <div class="form-group">
                    <input id="boots-file" name="files" type="file" class="file form-control" multiple data-show-upload="false" data-show-caption="false">
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="deadline">截止日期</span>
                        <input name="deadline" class="form-control datepicker" placeholder="请选择" aria-describedby="deadline" data-date-format="yyyy-mm-dd">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <if condition="$type eq 1">
                            <span class="input-group-addon" id="pay">赏金</span>
                        <else/>
                            <span class="input-group-addon" id="price">价格</span>
                        </if>
                        <input name="price" class="form-control" placeholder="请填写" aria-describedby="pay">
                        <input name="skill_or_reward" value="<{$type}>" style="display: none"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="phone">联系方式</span>
                        <input name="phone" class="form-control" placeholder="请填写" aria-describedby="phone">
                    </div>
                </div>
                <!--<button class="btn btn-block publish_btn">确认发布</button>-->
                <input type="submit" class="btn btn-block publish_btn" value="确认发布">
            </form>
        </div>

    </div>
    <include file="common/footer"/>
</body>