<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/boots/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/less/main/main-buy.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid clear-pad">
        <div class="col-xs-1">

        </div>
        <div class="col-xs-10">
            <div class="title"> 我要接单 </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 main">
            <div class="row">
                <div class="col-xs-1 clear-pad">
                    <img src="../../img/test1.jpg" class="img-responsive img-circle avatar">
                </div>
                <div class="col-xs-10">
                    <h5>Dannini</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 clear-pad">
                    <img src="../../img/test2.jpg" class="img-responsive depict">
                </div>
                <div class="col-xs-8 clear-pad">
                    <h4>有教计组的同学吗</h4>
                    <p>由反汇编代码可以看出， `mov bp, ax` 地址为 0x7c0e，然后....</p>
                </div>
            </div>
            <div class="row margin-more">
                <div class="col-xs-4">
                    <h4>总金额</h4>
                </div>
                <div class="col-xs-8">
                    <h4 class="price"> $170 </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <h4>接单人</h4>
                </div>
                <div class="col-xs-8">
                    <h4> 陈睿 </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <h4>联系方式</h4>
                </div>
                <div class="col-xs-8">
                    <h4> 13920901029 </h4>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-block publish_btn">确认</button>
</div>

<script src="../../js/jquery.js"></script>
<script src="../../js/bootstrap.min.js"></script>
</body>