<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/boots/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/boots/datepicker.css" rel="stylesheet">
    <link href="../../css/boots/fileinput.min.css" rel="stylesheet">
    <link href="../../css/less/main/main-publish.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-fixed-top">
        <if condition="<{$type}> eq 1">
            发布悬赏
        <else/>
            发布技能
        </if>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <form class="form-horizontal col-xs-12">
                <div class="form-group">
                    <input name="title" type="text" class="form-control" placeholder="主题">
                </div>
                <div class="form-group">
                    <textarea name="description" class="form-control" placeholder="简要概述:"></textarea>
                </div>
                <div class="form-group">
                    <input id="boots-file" name="files" type="file" class="file form-control" multiple data-show-upload="false" data-show-caption="false">
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="deadline">截止日期</span>
                        <input name="deadline" class="form-control datepicker" placeholder="请选择" aria-describedby="deadline" data-date-format="yyyy-mm-dd">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <if condition="<{$type}> eq 1">
                            <span class="input-group-addon" id="pay">赏金</span>
                        <else/>
                            <span class="input-group-addon" id="price">价格</span>
                        </if>
                        <input name="price" class="form-control" placeholder="请填写" aria-describedby="pay">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="phone">联系方式</span>
                        <input name="phone" class="form-control" placeholder="请填写" aria-describedby="phone">
                    </div>
                </div>
                <!--<button class="btn btn-block publish_btn">确认发布</button>-->
                <input type="submit" class="btn btn-block publish_btn" value="确认发布">
            </form>
        </div>

    </div>
    <script src="../../js/jquery.js"></script>
    <script src="../../js/fileinput.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/bootstrap-datepicker.js"></script>
    <script src="../../js/common.js"></script>
</body>